body{
    margin-left: 20px;
    background-color: rgb(10,16,13);
    color: gray
}
fieldset{
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid rgb(184,216,186);
}
legend{
    padding-left:5px;
    padding-right:5px;
    color:rgb(241,211,2);
    border-radius: 2px;
}
h4{
    margin-top:20px;
    margin-bottom: 10px;
    width: 450px;
    color:rgb(184,216,186);
    color:rgb(241,211,2)
}

th, td{
    padding-left:10px;
    padding-right: 10px;
    text-align: left;
    padding-top:5px;
    padding-bottom: 5px;
    
}
select{
    width: 205px;
    height: 25px;
    font-size: 14px;
}
a{
    color: lightyellow;
}
.main-board {
    margin: 0 auto;
    display: flex;
    width: 1200px;
}
.left-div{
width: 600px;
margin-right: 20px;
}
.right-div{
    width: 600px;
    margin-left: 20px;
}
.input_field {
width: 200px;
height: 20px;
margin-right:15px;
margin-bottom:10px
}
.label-for-deduction{
    font-size: 14px;
}
.calculate_button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(241,211,2,0.7);
    margin-top: 20px;
    margin-bottom: 20px;
}
.calculate_button:hover {
    background-color: rgb(241,211,2);
}